<div class="container">
<h1>Cryptocurrency Arbitrage.</h1>
</div>
<div class="container">
          <div class="cobinhood">
            <img src="https://cdn-images-1.medium.com/max/1200/1*7Znh2Q0qlaJOtA2MUr0rPg.jpeg">
          </div>
</div>
<div class="container">
          <div class="binance"> 
            <img src="https://siliconangle.com/wp-content/blogs.dir/1/files/2018/03/binance.jpg">
          </div>
</div>

<div class="container">

<div class = "assets_cobinhood">
  <div class = "bitcoin"> 
    <img src = "http://www.pngall.com/wp-content/uploads/1/Bitcoin-PNG-Pic.png">
  </div>
  <div class = "ethereum">
    <img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Ethereum_logo_2014.svg/628px-Ethereum_logo_2014.svg.png">
  </div>
  <div class = "XRP">
    <img src = "https://cdn4.iconfinder.com/data/icons/crypto-currency-and-coin-2/256/ripple_xrp_coin-512.png">
     </div>
  <div class = "EOS">
    <img src = "http://icons.iconarchive.com/icons/cjdowner/cryptocurrency-flat/1024/EOS-icon.png">
     </div>
  <div class = "NEO"> 
    <img src = "https://neo-cdn.azureedge.net/images/neo-logo/1024.png">
  </div>

  <div class = "assets_binance">
  <div class = "bitcoin"> <span id="price-btc">{{btc}}</span>
    <img src = "http://www.pngall.com/wp-content/uploads/1/Bitcoin-PNG-Pic.png">
  </div>
  <div class = "ethereum"> {{eth}}
    <img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Ethereum_logo_2014.svg/628px-Ethereum_logo_2014.svg.png">
  </div>
  <div class = "XRP"> {{xrp}}
    <img src = "https://cdn4.iconfinder.com/data/icons/crypto-currency-and-coin-2/256/ripple_xrp_coin-512.png">
     </div>
  <div class = "EOS"> {{eos}}
    <img src = "http://icons.iconarchive.com/icons/cjdowner/cryptocurrency-flat/1024/EOS-icon.png">
     </div>
  <div class = "NEO">  {{neo}}
    <img src = "https://neo-cdn.azureedge.net/images/neo-logo/1024.png">
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
