<div class="main">
<div class="container">
  <center><a href="./users">
  <h4><img src="https://www.freeiconspng.com/uploads/profile-icon-9.png" width="30px">Profile</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="./login/">Logout</a></h4></center>
</div>

<div class="container">
<h1>Cryptocurrency Arbitrage.</h1>
</div>
<div class="container">
          <div class="cobinhood">
            <img src="https://cdn-images-1.medium.com/max/1200/1*7Znh2Q0qlaJOtA2MUr0rPg.jpeg">
          </div>
</div>
<div class="container">
          <div class="binance"> 
            <img src="https://siliconangle.com/wp-content/blogs.dir/1/files/2018/03/binance.jpg">
          </div>
</div>

<div class="container">

<div class = "assets_cobinhood">
  <div class = "bitcoin"> 
    <img src = "http://www.pngall.com/wp-content/uploads/1/Bitcoin-PNG-Pic.png"> <span id="price-btc-cob">{{btc_cob}}</span> 
  </div>
  <div class = "ethereum">
    <img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Ethereum_logo_2014.svg/628px-Ethereum_logo_2014.svg.png"> <span id="price-eth-cob">{{eth_cob}}</span> 
  </div>
  <div class = "XRP">
    <img src = "https://cdn4.iconfinder.com/data/icons/crypto-currency-and-coin-2/256/ripple_xrp_coin-512.png"> <span id="price-xrp-cob">{{xrp_cob}}</span> 
     </div>
  <div class = "EOS">
    <img src = "http://icons.iconarchive.com/icons/cjdowner/cryptocurrency-flat/1024/EOS-icon.png"> <span id="price-eos-cob">{{eos_cob}}</span> 
     </div>
  <div class = "NEO"> 
    <img src = "https://neo-cdn.azureedge.net/images/neo-logo/1024.png"> <span id="price-neo-cob">{{neo_cob}}</span> 
  </div>

  <div class = "assets_binance">
   <div class = "bitcoin"> 
    <img src = "http://www.pngall.com/wp-content/uploads/1/Bitcoin-PNG-Pic.png"> <span id="price-btc">{{btc}}</span> 
  </div>
  <div class = "ethereum"> 
    <img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Ethereum_logo_2014.svg/628px-Ethereum_logo_2014.svg.png"> <span id="price-eth">{{eth}}</span>
  </div>
  <div class = "XRP"> 
    <img src = "https://cdn4.iconfinder.com/data/icons/crypto-currency-and-coin-2/256/ripple_xrp_coin-512.png"> <span id="price-xrp">{{xrp}}</span>
     </div>
  <div class = "EOS"> 
    <img src = "http://icons.iconarchive.com/icons/cjdowner/cryptocurrency-flat/1024/EOS-icon.png"> <span id="price-eos">{{eos}}</span>
     </div>
  <div class = "NEO">  
    <img src = "https://neo-cdn.azureedge.net/images/neo-logo/1024.png"> <span id="price-btc">{{neo}}</span>
    </div>
</div>

<div class = "assets_lambos">
   <div class = "lambo_1"> 
    <img src = "http://pluspng.com/img-png/lamborghini-hd-png--1792.png"> 
  </div>
<div class = "assets_lambos">
   <div class = "lambo_2"> 
    <img src = "http://www.pngpix.com/wp-content/uploads/2016/06/PNGPIX-COM-Lamborghini-Huracan-Green-Car-PNG-Image.png"> 
  </div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
</div>
